<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link href="index.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="images/smalllogo.png">
</head>
<body>
  <div class="login-container">
    <h1 class="login-title">Please Login</h1>
    <a href="/auth/google" class="google-button">Sign in with Google</a>
  </div>
</body>
</html>