nav {
  background-color: #f17878;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo-image {
  width: 150px;
  height: 40px;
  margin-right: 10px;
}
#weather {
  margin-left: auto;
  margin-right: 10px;
  color: white;
  font-size: larger;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  margin: 0 10px;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

a:hover {
  background-color: white;
  color: black;
}

.container {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .left {
    flex-basis: 20%;
    margin-left: 10px; 
  }
  
  .center {
    /* margin-top: 20px; */
    flex-basis: 20%;
    /* margin-left: 10px; */
    display: flex;
    align-items: center;
  }

  .snack{
    display: flex;
  }

  .protein{
    display: flex;
  }


  .recovery{
    display: flex;
  }

  /* .snack_list{
    float: left;
  } */

  /* .snack_pic{
    float: right;
    border: 1px solid #ccc;
  } */


  .right {
    flex-basis: 55%;
    margin-left: 20px;
  }
  
  .pictures {
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  /* .pictures img {
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    padding: 5px;
  } */