<!DOCTYPE html>
<head>
  <title>Order</title>
  <link href="order.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" type="image/png" href="images/smalllogo.png">
  <script src="order.js"></script>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/manager">Manager View</a></li> 
    </ul>
    <ul class="logout">
      <li><a href="/">Logout</a></li> 
    </ul>
    <img src="images/smoothieKing.png" alt="Logo" id="logo-image">
  </nav>
  <br>
  <div class="container">
    <div class="button-grid">
      <% for (var i in menuitems) { %>
      <button onclick="handleClick('<%= menuitems[i].itemname %>')">
        <%= menuitems[i].itemname %> 
      </button>
      <% } %>
    </div>
    <div class="text-box">
      <br>
      <br>
      <br> 
      <h1>Order:</h1> 
      <br>
      <textarea disabled rows="10" ></textarea> 
      <br>
      <button onclick="handleDelete()">Delete</button>
      <button onclick="handleOrder()">Place Order</button>  
    </div>
  </div>
</body>
